<ion-header>
  <ion-toolbar>
    <ion-title>Cerca negozio</ion-title>
    <ion-buttons>
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!--<ion-grid>
    <ion-row>
      <ion-col col-6>-->

        <ion-list>
          <ion-item *ngFor="let negozio of listaNegozi" [routerLink]="['./',negozio.id]">
            <ion-avatar>
              <ion-img [src]="'assets/imgCategorieNegozi/' + negozio.categoria + '.jpg'"></ion-img>
            </ion-avatar>
            <ion-label>
              {{ negozio.nome }}
            </ion-label>
          </ion-item>
        </ion-list>

      <!--</ion-col>
    </ion-row>
  </ion-grid>-->
</ion-content>
