.small{
    font-size: 18px;
}
.medium{
    font-size: 25px;
}
.large{
    font-size: 40px;
}
p{
    color: aliceblue;
}
strong{
    text-shadow: 1px 1px 1px cornflowerblue,
                 2px 2px 1px cornflowerblue;
}