<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>ProPizi</ion-title>

  </ion-toolbar>
</ion-header>



<ion-content>



    <ion-grid>
      <ion-row>
        <ion-col col-6>
          <ion-text color="primary">
            <h1>Benvenuto Mario! Hai contribuito con <u><b>{{nAcquisti}}</b></u> acquisti alla tua scuola!</h1>
          </ion-text>
        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-content>
