<ion-header>
  <ion-toolbar>
    <ion-title>Chi siamo</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col col-6>
        <ion-text color="primary">
          <h1><i> <b>ProPizi</b> è l'app dell'Istituto di Istruzione Superiore "Nicola Pizi" di Palmi (RC, Italy). Nasce con il duplice obiettivo di aiutare il nostro territorio, favorendo gli acquisti presso i commercianti locali convenzionati, e il nostro istituto, attraverso un fundraising associato agli acquisti nei negozi convenzionati. L'app stata sviluppata dagli alunni dell'Istituto</i></h1>
        </ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
