<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Chi siamo</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col >
        <img style="display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;"
        src="../assets/logo/logo.png"/>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-text color="primary" >
          <i>
            <b>ProPizi</b> è l'app dell'Istituto di Istruzione Superiore "Nicola Pizi" di Palmi (RC, Italy).
        </i>
          <br/>
        </ion-text>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-text class="ion-text-center">
        <i>Nasce con il duplice obiettivo di aiutare il nostro territorio, favorendo gli acquisti presso i commercianti locali convenzionati, e il nostro istituto, attraverso un fundraising associato agli acquisti nei negozi convenzionati.
          <br/>
          <br/>
          L'app è stata sviluppata dagli alunni dell'Istituto</i>
      </ion-text>
    </ion-row>
  </ion-grid>
</ion-content>
