<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Codice Personale</ion-title>
    <ion-buttons>
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col col-6>
        <ion-text color="primary">
          <h1>Mostra il codice al negoziante</h1>
        </ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <img src="../assets/qrcodes/qrcode.png"/>
    </ion-row>
  </ion-grid>
</ion-content>
