<ion-header [translucent]="true">
  <ion-toolbar>
    
      
   
    <ion-buttons>
      <ion-menu-button mode="ios"> <!-- Metto mode ios perchè così si continua a vedere bene anche in modalità web-->
        <ion-icon name="reorder-three-outline"></ion-icon>
           ProPizi
      </ion-menu-button>
    </ion-buttons>
  
  
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-grid>
    <ion-row>
      <ion-col col-6>
        <ion-text color="primary">
          <h1>Benvenuto Mario! Hai contribuito con {{n}} acquisti alla tua scuola!</h1>
        </ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
<ion-footer no-shadow>
  <ion-grid>
    <ion-row>
      <ion-col col-6>
        <ion-button size="full" routerLink="/home/codice-personale" routerDirection="forward">
          Mostra codice personale
        </ion-button>
      </ion-col>
      <ion-col col-6>
        <ion-button size="full" routerLink="/home/cerca-negozio" routerDirection="forward">
          Cerca Negozio
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>