<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      ProPizi
   
    <ion-buttons>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-title>
  
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-text color="primary">
    <h1>Benvenuto placeholder! Hai contribuito con n acquisti alla tua scuola!</h1>
  </ion-text>

</ion-content>
<ion-footer no-shadow>
  <ion-button size="medium" routerLink="/home/codice-personale" routerDirection="forward">
    Mostra codice personale
  </ion-button>
  <ion-button size="medium" routerLink="/home/cerca-negozio" routerDirection="forward">
    Cerca Negozio
  </ion-button>
</ion-footer>