
<ion-tabs>

    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="benvenuto">
        <ion-icon name="person-circle"></ion-icon>
        <ion-label>Benvenuto</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="cerca-negozio">
        <ion-icon name="business-outline"></ion-icon>
        <ion-label>Cerca negozio</ion-label>
        <ion-badge>{{nNegozi}}</ion-badge>
      </ion-tab-button>

      <ion-tab-button tab="codice-personale">
        <ion-icon name="card-outline"></ion-icon>
        <ion-label>Fai acquisto</ion-label>
      </ion-tab-button>
    </ion-tab-bar>

  </ion-tabs>
